<div class="static">
  <h1>MY REPRESENATIVE NEWS</h1>
  <h3>Know What Your Represenative Is Up To</h3>

  <div class="image_block">
  	<div class="members_of_congress"></div>
  	<li><%= image_tag('capitollinedrawing.jpg') %></li>
  	<li>435 Members of Congress</li>

  </div>
</div>
