<%= form_for(@represenative) do |f| %>
  <% if @represenative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@represenative.errors.count, "error") %> prohibited this represenative from being saved:</h2>

      <ul>
      <% @represenative.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
