// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.static {
  background-image: url('ps_neutral.png');
  height: 525px;
  margin-top: -24px;

  h1 {
    text-align: center;
    padding-top: 65px;
    font-size: 2.8em;
    letter-spacing: 0.5em;
  }

  h3 {
    text-align: center;
    font-size: 1.7em;
    padding-top: 10px;
  }

  li {
  	list-style: none;
  }

  .image_block {
    margin-top: 40px;

    img {
  	  height: 145px;
  	  width: 145px;
  	  border-radius: 50%;
  	  border: 1px solid black;
    }
    

    figure {
      width: 157px;
      display: inline-block;
      text-align: center;
      font-size: 1.1em;
      font-weight: bold;
      margin-top: 15px;
    }

    figcaption {
      margin-top: 5px;
    }
  }

  .signup_link {
    text-align: center;
    font-size: 2.2em;
    margin-top: 60px;

    a { 
      background: none;
      color: black;
    }
  }
}