<footer>
  <a href="http://www.facebook.com/IWillPunchMattHollidayInTheStomach"><%= image_tag("facebook2.png", :alt => "Facebook") %></a>
  <a href="http://twitter.com/AdamHardy55"><%= image_tag("twitter2.png", :alt => "Twitter") %></a>
  <a href="https://github.com/ahardy55"><%= image_tag("github3.png", :alt => "Github") %></a>
  <a href="mailto:ahardy55@gmail.com"><%= image_tag("gmail.png", :alt => "Gmail") %></a>

</footer>